body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: white;
  background-color: #111111;

  font-size: min(26px, 8vw);
}

h1 {
  margin: 0;
  font-size: 1.8em;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}

.board {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 0.4em;
}

.square {
  height: 2em;
  width: 2em;
  border-radius: 0.4em;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 0.07em black;
}

.square.unknown {
  background-color: #555555;
}
.square.correct {
  background-color: #228242;
}
.square.elsewhere {
  background-color: #828222;
}
.square.empty {
  border-color: white;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin: min(1em, 3vw);
}

.shake {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: shake;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.35em;
  max-width: 100vw;
}

.keyboard-row {
  display: flex;
  flex-direction: row;
  gap: 0.35em;
  max-width: 100%;
}

.keyboard-key {
  height: 2em;
  /* width: 2em; */
  width: min(2em, 10vw);
  /* flex-shrink: 1; */
  border-radius: 0.4em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #555555;
}
.keyboard-key.none {
  background-color: #222222;
}

.keyboard-key.unknown {
  background-color: #555555;
}
.keyboard-key.correct {
  background-color: #228242;
}
.keyboard-key.elsewhere {
  background-color: #828222;
}
.keyboard-key.empty {
  border-color: white;
}

.keyboard-enter,
.keyboard-back {
  height: 2em;
  width: min(4em, 20vw);
  border-radius: 0.4em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #555555;
}

.heading {
  color: #666666;
  font-size: 1.1em;
  /* align-self: flex-start; */
  margin: -0.22em 0;
}

.header {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 0.5em;
  /* border-bottom: 1px solid; */
}

.info-icon {
  height: 1.3em;
  fill: #888888;
}

.help-page {
  position: absolute;
  background-color: #111111dd;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2em;
  font-size: 0.5em;
}
