body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: white;
  background-color: #111111;

  font-size: 26px;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}

.board {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.square {
  height: 2em;
  width: 2em;
  border-radius: 0.4em;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 0.07em black;
}

.square.unknown {
  background-color: #555555;
}
.square.correct {
  background-color: #228242;
}
.square.elsewhere {
  background-color: #828222;
}
.square.empty {
  border-color: white;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin: 1em;
}

.shake {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: shake;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.keyboard-row {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.keyboard-key {
  height: 2em;
  width: 2em;
  border-radius: 0.4em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #555555;
}
.keyboard-key.none {
  background-color: #222222;
}

.keyboard-key.unknown {
  background-color: #555555;
}
.keyboard-key.correct {
  background-color: #228242;
}
.keyboard-key.elsewhere {
  background-color: #828222;
}
.keyboard-key.empty {
  border-color: white;
}

.keyboard-enter,
.keyboard-back {
  height: 2em;
  width: 4em;
  border-radius: 0.4em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #555555;
}
